{% include '_partials/_header.html' %}

<section class="intro">
    <div class="wrapper">
        <section class="split__section" id="intro">
            <h1> Introduction aux classes</h1>
            <p>
                Afin de réaliser l'exercice, vous devrez ouvrir README.md en mode aperçu. Ce dernier se trouve à la racine de ce projet.
            </p>
            <p>Click droit sur le fichier et sélectionnez <em>Open preview</em>. Une fois ouvert, déplacez l'onglet du côté droit de l'interface de VS Code afin de l'ouvrir en _Split screen_ d'un côté avec vos fichiers de code (html et js) de l'autre.</p>
        </section>
    </div>
</section>

{% include '_partials/_footer.html' %}
