{% include '_partials/_header.html' with {'title': 'Exercice #2'} %}

<section class="section">
    <div class="wrapper">
        <h2>Révision JS</h2>
        <p>
            Suite à la démonstration, suivez les étapes du readme.md afin de compléter cet exercice.
        </p>

        <button class="button">Cliquez-moi 🖱</button>
        <button class="button">En savoir plus 🕵️‍♀️</button>
        <button class="button">Commandez 🍕</button>
    </div>
</section>

{% include '_partials/_footer.html' %}
