{% include '_partials/_header.html' with {'title': 'Exercice #3'} %}

<section class="section">
    <div class="wrapper">
        <div class="section-info">
            <h2>Création d'un élément HTML dynamiquement</h2>
            <p>
                Suite à la démonstration, suivez les étapes du readme.md afin de compléter cet exercice.
            </p>
        </div>
        
        <button class="button js-add">Choisir un fruit</button>
        
        <div class="js-container">

        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
